DATABASE_URL=
E2E_DATABASE_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
ClOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=

FRONTEND_URL=
BACKEND_URL=
AI_SERVICE_URL=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_ENDPOINT=
